.user-profile-setting {
    background-color: var(--color-blue-light);
    padding: 0.6rem;
    border-radius: 2rem;
}

.user-profile-setting .setting-icon {
    stroke: var(--color-blue-dark);
}

.user-profile-setting .setting-menu ul li {
    font-size: .9rem;
}

.user-profile-setting .setting-menu ul li:not(:last-child) {
    margin-bottom: .5rem;
}

.user-profile-setting .icon-user {
    fill: var(--color-purple-dark);
}