.notification-box {
    background-color: var(--color-purple-light);
    padding: .5rem;
    border-radius: .5rem;
}

.notification-box svg {
    color: var(--color-purple-dark);
}

.notification-box .badge-count {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    font-size: 10px;
}